@import url("1-gallery-styles.css");
@import url("2-form-styles.css");

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 24px;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  color: #2e2f42;
}

.back-link {
  display: block;
  margin-bottom: 50px;
}

.page-link {
  font-size: 40px;
}