@import url("1-gallery-styles.css");
@import url("2-form-styles.css");

* {
  box-sizing: border-box;
}

body {
  margin: 24px auto;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  color: #2e2f42;;
}